body{
	font-size: 20px;
	font-family: serif;
	color: #333333;
}
.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
	font-family: serif;
	font-size: 20px;
	background-color: #ffffff;
	color: #000;
	border: 2px solid #3a83a8;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a83a8;
}

.answers {
	margin: 10px;
}

.answers input[type="radio"] {
	opacity: 0;
	width: 0;
	height: 0;
}

.answers label {
	display: inline-block;
	background-color: paleturquoise;
	padding: 10px 20px;
	font-family: sans-serif, Arial;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 4px;
	cursor: pointer;
	margin: 3px;
}

.answers label:hover {
	background-color:orange;
}

.answers input[type="radio"]:checked ~* {
	background-color: wheat;
}

label > input[type="radio"]:checked {
	background-color: orange;
}