.game {
    width: 800px;
    height: 400px;
    background-color: black;
}

#spaceship {
    width: 125px;
    height: 50px;
    background-image: url(Spaceship.png);
    background-size: 125px 50px;
    position: relative;
    top: 175px;
}

.asteroid {
    width: 125px;
    height: 125px;
    background-image: url(Asteroid.png);
    background-size: 125px 125px;
    position: relative;
    top: 100px;
    left: 675px;
    animation: left 1s infinite linear;
}

.asteroid2 {
    width: 125px;
    height: 125px;
    background-image: url(Asteroid.png);
    background-size: 125px 125px;
    position: absolute;
    top: 100px;
    left: 675px;
    animation: left 1s infinite linear;
}

.up{
    animation: up .5s linear;
}

.down{
    animation: down .5s linear;
}

@keyframes up{
    0% {
        top: 175px;
    }
    10% {
        top: 75px;
    }
    25% {
        top: 35px;
    }
    35%{
        top: 15px;
    }
    50%{
        top: 5px;
    }
}

@keyframes down{
    0% {
        top: 175px;
    }
    10%{
        top: 280px;
    }
    25%{
        top: 320px;
    }
    35%{
        top: 340px;
    }
    50%{
        top: 350px;
    }
}

@keyframes left{
    0%{
        left: 675px;
    }
    100%{
        left: -125px;
        transform: rotate(120deg);
    }
}