#snakeBoard {
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
}

#score {
    text-align: center;
    font-size: 140px;
}

#canvas {
    display: flex;
    align-items: center;
    text-align: center;
}

canvas {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}