
 .card-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 200px;
    height:200px;
    perspective: 1000px;
}


.card-front {
    width: 200px;
    height:200px;
    background-color:lightblue;
    display:block;

}

.card-back {
    width: 200px;
    height:200px;
    display:none;
    vertical-align: text-top;
}



